@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "nunito-sans";
    src: url("./assets/font.ttf");
}

.nunito{
    font-family: "nunito-sans";
}

.boxShadow{
    'custom-shadow': '0px 0px 9px 1px rgba(0, 0, 0, 0.75)',
  }
  